.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

div.info {
    background: #efefef;
    border-radius: .25rem;
}

.overflow-auto {
    max-height: 300px;
}

.comment {
    padding: 8px;
}

.comment:hover {
    background-color: #d6d6d6;
    border-radius: .25rem;
}

div.scrollMenu {
    background-color: #fcfcfc;
    border: 1px solid rgba(142, 142, 142, 0.12);
    border-radius: 8px;
    height: 200px;
    overflow: auto;
    white-space: nowrap;
}


div.scrollMenu div {
    display: inline-block;
    color: #000000;
    text-align: center;
    width: 30%;
    text-decoration: none;
}

div.scrollMenu div:hover {
    background-color: #d2d1d1;
}

div.scrollMenu div a {
    font-weight: bold;
}


div.scrollMenu div img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}


/*a*/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*for active modal window*/
.modal-backdrop {
    z-index: -1;
}