<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/userPage.css}">
    <link rel="stylesheet" th:href="@{css/companyPage.css}">
</head>
<body>
<div th:object="${company}">
    <div class="container">
        <div class="main-body">
            <div class="row gutters-md">
                <div class="col-md-4 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img th:src="${company.getPhotoUrl()}"
                                     alt="Admin" class="rounded-2" width="150">
                                <div class="mt-3">
                                    <h4 th:text="${company.getName()}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="ratio ratio-16x9">
                                <iframe
                                        src="https://www.youtube.com/embed/8u6iGpVQbOg" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="d-flex align-items-center mb-3">Bonuses</h4>
                            <div class="overflow-auto text-center d-grid gap-3">
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                                <button class="btn btn-light w-100">Pay 10 and get T-shirt</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="d-flex align-items-center mb-3">About us</h5>
                                <div class="info">
                                    <h6 th:text="${company.getInfo()}"></h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Category</h6>
                                </div>
                                <div class="col-sm-9 text-secondary text-center" th:text="${company.getCompanyType().getValue()}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <h5 class="d-flex align-items-center mb-3">Tags</h5>
                                <div class="info">
                                    <h6>Education, myFirstCompany</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <h4>Progress</h4>
                            <div class="row">

                                <div class="col">
                                    <div class="progress m-3">
                                        <div class="progress-bar progress-bar-striped" role="progressbar"
                                             th:style="'width:'+ ${company.getCollectedAmount()}/${company.getAmountToCollect()}*100+'%;'"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                             th:text="${company.getCollectedAmount()}"></div>
                                    </div>
                                </div>
                                <div class="col-sm-1 align-self-center">
                                    <h6 class="text-end text-center" th:text="${company.getAmountToCollect()}">100</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="d-flex align-items-center mb-3">Gallery</h4>
                            <div class="container">
                                <div class="row">
                                    <div class="scrollMenu">
                                        <div>
                                            <img id="myImg" class="work-modals"
                                                 src="http://madebymunsters.github.io/Lannister/img/blocitoff.png"
                                                 alt="1">
                                        </div>
                                        <div>
                                            <img class="work-modals"
                                                 src="http://madebymunsters.github.io/Lannister/img/blocitoff.png"
                                                 alt="1">
                                        </div>
                                        <div>
                                            <img class="work-modals"
                                                 src="http://madebymunsters.github.io/Lannister/img/blocitoff.png"
                                                 alt="1">
                                        </div>
                                        <div>
                                            <img class="work-modals"
                                                 src="http://madebymunsters.github.io/Lannister/img/blocitoff.png"
                                                 alt="1">
                                        </div>
                                        <div>
                                            <img class="work-modals"
                                                 src="https://images.unsplash.com/photo-1554080353-a576cf803bda?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG98ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
                                                 alt="3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="d-flex align-items-center mb-3">Posts</h4>
                                <div>
                                    <div class="row comment">
                                        <!--                                    <div class="col-sm-1">-->
                                        <!--                                        <img class="rounded-circle" width="40" height="40"-->
                                        <!--                                             src="https://images.unsplash.com/photo-1554080353-a576cf803bda?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG98ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"-->
                                        <!--                                             alt="photo">-->
                                        <!--                                    </div>-->
                                        <div class="col align-self-center">
                                            <h5 class="d-flex">My name</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col align-self-center">
                                                <h6 class="fs-6">Apple (МФА: [ˈæp(ə)l], в переводе с англ. — «яблоко») —
                                                    американская корпорация,
                                                    производитель персональных и планшетных компьютеров, аудиоплееров,
                                                    смартфонов,
                                                    программного обеспечения. Один из пионеров в области персональных
                                                    компьютеров[11] и
                                                    современных многозадачных операционных систем с графическим
                                                    интерфейсом.
                                                    Штаб-квартира —
                                                    в Купертино, штат Калифорния. Благодаря инновационным технологиям и
                                                    эстетичному
                                                    дизайну,
                                                    корпорация Apple создала в индустрии потребительской электроники
                                                    уникальную
                                                    репутацию,
                                                    сравнимую с культом[12]. Является первой американской компанией, чья
                                                    капитализация
                                                    превысила 1,044 трлн долларов США. Это произошло во время торгов
                                                    акциями
                                                    компании 10
                                                    сентября 2018 года[13]. В тот же день компания стала самой дорогой
                                                    публичной
                                                    компанией
                                                    за всю историю, превысив капитализацию предыдущего рекордсмена —
                                                    компании
                                                    PetroChina
                                                    (1,005 трлн долларов в ноябре 2007 года)[14].</h6>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="mx-5 row comment">
                                        <div class="col-sm-1">
                                            <img class="rounded-circle" width="30" height="30"
                                                 src="https://images.unsplash.com/photo-1554080353-a576cf803bda?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG98ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
                                                 alt="photo">
                                        </div>
                                        <div class="col align-self-center">
                                            <h5 class="d-flex">My name</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col align-self-center">
                                                <h6 class="fs-6">Apple (МФА: [ˈæp(ə)l], в переводе с англ. — «яблоко») —
                                                    американская корпорация,
                                                    производитель персональных и планшетных компьютеров, аудиоплееров,
                                                    смартфонов,
                                                    программного обеспечения. Один из пионеров в области персональных
                                                    компьютеров[11] и
                                                    современных многозадачных операционных систем с графическим
                                                    интерфейсом.
                                                    Штаб-квартира —
                                                    в Купертино, штат Калифорния. Благодаря инновационным технологиям и
                                                    эстетичному
                                                    дизайну,
                                                    корпорация Apple создала в индустрии потребительской электроники
                                                    уникальную
                                                    репутацию,
                                                    сравнимую с культом[12]. Является первой американской компанией, чья
                                                    капитализация
                                                    превысила 1,044 трлн долларов США. Это произошло во время торгов
                                                    акциями
                                                    компании 10
                                                    сентября 2018 года[13]. В тот же день компания стала самой дорогой
                                                    публичной
                                                    компанией
                                                    за всю историю, превысив капитализацию предыдущего рекордсмена —
                                                    компании
                                                    PetroChina
                                                    (1,005 трлн долларов в ноябре 2007 года)[14].</h6>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div>
                                    <div class="row comment">
                                        <!--                                    <div class="col-sm-1">-->
                                        <!--                                        <img class="rounded-circle" width="40" height="40"-->
                                        <!--                                             src="https://images.unsplash.com/photo-1554080353-a576cf803bda?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG98ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"-->
                                        <!--                                             alt="photo">-->
                                        <!--                                    </div>-->
                                        <div class="col align-self-center">
                                            <h5 class="d-flex">My name</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col align-self-center">
                                                <h6 class="fs-6">Apple (МФА: [ˈæp(ə)l], в переводе с англ. — «яблоко») —
                                                    американская корпорация,
                                                    производитель персональных и планшетных компьютеров, аудиоплееров,
                                                    смартфонов,
                                                    программного обеспечения. Один из пионеров в области персональных
                                                    компьютеров[11] и
                                                    современных многозадачных операционных систем с графическим
                                                    интерфейсом.
                                                    Штаб-квартира —
                                                    в Купертино, штат Калифорния. Благодаря инновационным технологиям и
                                                    эстетичному
                                                    дизайну,
                                                    корпорация Apple создала в индустрии потребительской электроники
                                                    уникальную
                                                    репутацию,
                                                    сравнимую с культом[12]. Является первой американской компанией, чья
                                                    капитализация
                                                    превысила 1,044 трлн долларов США. Это произошло во время торгов
                                                    акциями
                                                    компании 10
                                                    сентября 2018 года[13]. В тот же день компания стала самой дорогой
                                                    публичной
                                                    компанией
                                                    за всю историю, превысив капитализацию предыдущего рекордсмена —
                                                    компании
                                                    PetroChina
                                                    (1,005 трлн долларов в ноябре 2007 года)[14].</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01" alt="img">
        <div id="caption"></div>
    </div>
</div>
<script src="../static/js/companyPage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>
</html>